{% extends "@ALNLindor/layout.html.twig" %}
{% block body %}
 <div class="content-page ">
                <!-- Start content -->      
                <div class="content  ">
                    <div class="container ">

                        <!-- Page-Title -->
                        <div class="row " >
                           




                        </div>

                     </div> <!-- container -->
                               
                </div> <!-- content -->

                <footer class="footer text-right bg-secondary" >
                    2018 © Lindor.
                </footer>

            </div>
{% endblock %}